
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

display:flex;
justify-content:center;
padding:50px;

font-family:Arial;
}

.product{

position:relative;

width:300px;

border:1px solid #ccc;

padding:20px;

text-align:center;
}

.product img{

width:100%;
}

.badge{

position:absolute;

top:-15px;

right:-15px;

width:70px;

height:70px;

border-radius:50%;

background:red;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:14px;

font-weight:bold;
}